.timeWrapper {
  display: flex;
  justify-content: flex-start;
  margin: 15px 0px;
  flex-wrap: wrap;
}
.timeWrapper span {
  padding: 5px;
  margin-bottom: 10px;
  min-width: 200px;
}

.danger {
  /* border-bottom: 2px solid rgb(233, 28, 28); */
  color: rgb(211, 7, 17);
}

.tileContainer {
  width: 300px;
  /* border: 1px solid gray; */
  padding: 0 20px 20px 20px;
  margin-top: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tileContainer .timeContainer {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.selectedTile {
  border: 2px solid rgb(48, 17, 223);
}